<h4>Volgende home: <%= button_to "#{get_home_from_queue(@homes)}", @arcticle, remote: true, class: "btn btn-primary", params: {id: get_id_from_home(@homes)} %> </h4>
<h4>Volgende lopers per home</h4>
<div class="row seven-cols">
	<div class="col-md-1"><h4>Astrid</h4><%= print_queue_per_home(@homes, "Astrid") %></div>
	<div class="col-md-1"><h4>Bertha</h4><%= print_queue_per_home(@homes, "Bertha") %></div>
	<div class="col-md-1"><h4>Boudewijn</h4><%= print_queue_per_home(@homes, "Boudewijn") %></div>
	<div class="col-md-1"><h4>Confabula</h4><%= print_queue_per_home(@homes, "Confabula") %></div>
	<div class="col-md-1"><h4>Fabiola</h4><%= print_queue_per_home(@homes, "Fabiola") %></div>
	<div class="col-md-1"><h4>Savania</h4><%= print_queue_per_home(@homes, "Savania") %></div>
	<div class="col-md-1"><h4>Vermeylen</h4><%= print_queue_per_home(@homes, "Vermeylen") %></div>
</div>