<div class="row seven-cols">
	<h4>Volgende lopers</h4>
	<div class="col-md-1"><%= button_to "#{get_naam_from_queue(@lopers,0)}", @article, remote: true, class: "btn btn-primary", params: {id: get_id_from_queue(@lopers,0)} %></div>
	<div class="col-md-1"><%= print_queue(@lopers,1) %></div>
	<div class="col-md-1"><%= print_queue(@lopers,2) %></div>
	<div class="col-md-1"><%= print_queue(@lopers,3) %></div>
	<div class="col-md-1"><%= print_queue(@lopers,4) %></div>
	<div class="col-md-1"><%= print_queue(@lopers,5) %></div>
	<div class="col-md-1"><%= print_queue(@lopers,6) %></div>
</div>
<div class="row seven-cols">
	<div class="col-md-1"><%= print_queue(@lopers,7) %></div>
	<div class="col-md-1"><%= print_queue(@lopers,8) %></div>
	<div class="col-md-1"><%= print_queue(@lopers,9) %></div>
	<div class="col-md-1"><%= print_queue(@lopers,10) %></div>
	<div class="col-md-1"><%= print_queue(@lopers,11) %></div>
	<div class="col-md-1"><%= print_queue(@lopers,12) %></div>
	<div class="col-md-1"><%= print_queue(@lopers,13) %></div>
</div>
<div class="row seven-cols">
	<div class="col-md-1"><%= print_queue(@lopers,14) %></div>
	<div class="col-md-1"><%= print_queue(@lopers,15) %></div>
	<div class="col-md-1"><%= print_queue(@lopers,16) %></div>
	<div class="col-md-1"><%= print_queue(@lopers,17) %></div>
	<div class="col-md-1"><%= print_queue(@lopers,18) %></div>
	<div class="col-md-1"><%= print_queue(@lopers,19) %></div>
	<div class="col-md-1"><%= print_queue(@lopers,20) %></div>

</div>