<% provide(:title, "Home") %>
<h1>12-urenloop Home Konvent</h1>
<div class="row">
	<div class="col-md-2 competitie">
		<h4>Aantal rondes</h4>
		<%= render "aantal_rondjes" %>
	</div>
	<div class="col-md-2">
		<h4>Snelste ronde</h4>
		<%= render "snelste" %>
	</div>
	<div class="col-md-2">
		<h4>Speciale rondes</h4>
		<%= render "speciaal" %>
	</div>
	<div class="col-md-2">
		<h4>Supporters</h4>
		<%= render "aantal_supporters" %>
	</div>
	<div class="col-md-2">
		<h4>Aantal lopers</h4>
		<%= render "aantal_lopers" %>
	</div>
	<div class="col-md-2">
		<h4>Individuele rondes</h4>
		<%= render "aantal_individuele_rondjes" %>
	</div>
</div>
<% if DateTime.current < DateTime.new(2018, 4, 25, 18, 0, 0, "+2") %>
	<%= render "queue_sorted" %>
<% else %>
	<%= render "queue" %> 
<% end %>