<%= form_for(@loper) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<%= f.label :naam %>
    <%= f.text_field :naam, class: 'form-control' %>

    <%= f.hidden_field :home_id, :home_id => params[:id] %>
  </div>
  <%= f.submit "Voeg loper toe", class: "btn btn-primary" %>
<% end %>