<li id="loper-<%= loper.id %>">
  <span class="content">
  	<% if current_user.admin? %>
  		<%= link_to loper.naam, loper %>
  	<% else %>
  		<%= loper.naam %>
  	<% end %>
  </span>
  <span class="tijd">snelste tijd: <%= snelste_to_tijd(loper.snelste) %>, </span>
  <span class="aantal">aantal rondjes: <%= loper.aantal %></span>
  <% if current_user.admin? %>
  	<%= link_to "Verwijder", loper, method: :delete, data: {confirm: "Zeker?"} %>
  <% end %>
</li>