<% if @loper.aangemeld == false %>
	<p>Volgende ronde</p>
	<%= button_to "Loop een ronde", @article, remote: true, class: "btn btn-primary" %>
<% else %>
	<p>In de wachtrij.<p>
	<p>Aangemeld op <%= @loper.aangemeld_op.strftime("%T") %>.</p>
<% end %>