<% provide(:title, @loper.naam) %>
<div class="row">
	<h1>
		<%= @loper.naam %> (Home <%= link_to @loper.home.naam, @loper.home %>) (ID: <%= @loper.id %>)
	</h1>
	<h3>
		<% if @loper.aantal == 1 %>
			1 ronde gelopen.
		<% else %>
			<%= @loper.aantal %> rondes gelopen.
		<% end %>
	</h3>
</div>
<div class="row">
	<div class="col-md-4 col-md-offset-2">
		<%= render "ronde" %>
	</div>
	<div class="col-md-4">
		<p>Snelste tijd: <%= snelste_to_tijd(@loper.snelste) %>.</p>
		<%= form_for(@loper) do |f| %>
			<div class="field">
				<%= f.label :snelste, "Nieuwe tijd registreren" %>
				<%= f.number_field :snelste, class: 'form-control' %>
			</div>
			<%= f.submit "Voeg nieuwe tijd toe", class: 'btn btn-primary' %>
		<% end %>
	</div>
</div>