<li>
  <%= schild home %>
  <%= link_to home.naam, home %>
  <% if current_user && current_user.admin? && !current_user?(home) %>
  	| <%= link_to "Verwijder", home, method: :delete, data: { confirm: "Zeker?" } %>
  <% end %>
</li>