<h1>Registreer home</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@home) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :naam %>
      <%= f.text_field :naam, class: 'form-control' %>

      <%= f.label :paswoord %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Bevestiging" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Registreer Home", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>