<% provide(:title, @home.naam) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
			<%= schild(@home) %>
			Home <%= @home.naam %>
			</h1>
		</section>
<%#		<% if current_user?(@home) %>
		<section class="loper_form">
			<%= render 'shared/loper_form' %>
		</section>
<%#		<% end %>
	</aside>
	<div class="col-md-8">
		<% if @home.lopers.any? %>
			<h3>Lopers (<%= @home.lopers.count %>)</h3>
			<ol class="lopers">
				<%= render @lopers %>
			</ol>
			<%= will_paginate @lopers %>
		<% end %>
		<%= render "speciale_ronde" %>
	</div>
</div>