<header class="navbar navbar-fixed-top navbar-inverse" style="background:#003466;">
  <div class="container">
    <%= link_to "home konvent", "http://homekonvent.be", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Startpagina",   root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Homes", homes_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Home <%= @current_user.naam %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Status", current_user %></li>
              <li><%= link_to "Instellingen", edit_home_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log uit", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
        <li><img src="http://hkcentraal.ugent.be/static/images/schilden/konvent.png"></li>
      </ul>
    </nav>
  </div>
</header>